

.pokemoncard{
  position: relative;
  display: flex;
  width: 100%;
  background: #ffcd00;
  border: 1px solid #cdcfcf;
  flex-direction: column;
  font-family: var(--font-family);  
  min-width: 250px;
  max-width: 250px;
  flex-basis: 20%;
  transition: margin 400ms ease-in-out 0ms, transform 200ms ease-in-out;
  padding: 0.2em;
}

.pokemon--container{
  border-radius: 5px;
  background-image: url("./card-background.png");
  margin: 5px;
  padding: 0.1em;
  border: 1px solid var(--btn-border);
}

.pokemoncard:hover .pokemon--container{
  cursor: pointer;
  border-color: var(--black);
}

.pokemoncard:hover .pokemon--id{
  transform: translate(0, 100px);
}

.pokemoncard:hover .pokemon--hp{
  transform: translate(100px,0)
}

.pokemoncard:hover ~pokemon--hp{
  transform: translate(100px,0)
}

.pokemoncard:hover{
  margin: 0 10px;
  box-shadow: 0px 0px 5px 2px white;
  transform: translate(0, -10px);
}


.image--container{
  display: flex;
  align-self: stretch;
  justify-content: center;
}
.card--picture{
  max-width: 75%;
  
}

.card--header{
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
}

.pokemon--id{
  
  position: absolute;
  
  top:-100px;
  right:0;
  background: rgba(0,0,0,0.2);
  padding: 0 0.5em;
  transition: transform ease-in-out 400ms;
  border-radius: 5px;
}
.pokemon--hp{
  
  position: absolute;
  top:0px;
  right:0;
  background: rgba(0,0,0,0.2);
  padding: 0 0.5em;
  transition: transform ease-in-out 400ms;
  border-radius: 5px;
}

.card--footer{
  text-align: center;
  font-size: 1rem;
  background: var(--card-footer);
  padding: 0.3em;
  color: var(--almost-white);
}

.stats{
  font-size: 1rem;
  font-weight: 500;
  padding: 1em;
  background: rgba(0,0,0,0.2);
  color: black;
  margin-bottom: 5px;
  border-radius: 5px;
}

.stat--item{
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
}