.chart{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  border-left: 2px solid var(--btn-border);
  border-bottom: 2px solid var(--btn-border);
  padding: 0.3em;
  background: var(--chart-background);
  overflow: hidden;
  min-width: 100%;
}

.bar{
  border-bottom: 1px solid var(--btn-border);
  width: 100%;
  height: calc(100%/10) 
}

.bar--container{
  
  width: 60px;
  position: relative;
  overflow: none;
  list-style-type: none;
  
}

.value{
  width: 100%;
  position: absolute;
  background: var(--chart);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 2px 1px 4px black;
  color: black;
  font-weight:500;
  font-size: 0.9rem;
  
}

.chart--text{
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%,0);
  padding: 0.1em 0.5em;
  background: var(--almost-white);  
  box-shadow: 1px 1px 3px 1px black;
  border-radius: 3px;
}
.special--attack--bar{
  height: 0;
  transition: height 1s cubic-bezier(.8,.45,.25,1.64) 0.75s;
}

.hp--bar{
  height: 0;
  transition: height 1s cubic-bezier(.8,.45,.25,1.64) 0.8s;
}

.attack--bar{
  height: 0;
  transition: height 1s cubic-bezier(.8,.45,.25,1.64) 1s;
}

.defence--bar{
  height: 0;
  transition: height 1s cubic-bezier(.8,.45,.25,1.64) 0.9s;
}

.speed--bar{
  height: 0;
  transition: height 1s cubic-bezier(.8,.45,.25,1.64) 0.65s;
}

.second--ul{
  
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid var(--btn-border);
  height: 150px;
}

.secondary--ul{
  
  margin: 0;
  padding: 0;
  width: 100%;
}

.main--ul{
  
  margin: 0.5em 0.3em;
  padding: 0;
}

.chart--and--text{
  text-align: center;
  font-size: 1rem;
  
  
}