


.loading--container{
  display:flex;
  flex-direction: column;
  
  align-items: center;
}
.loader {
  
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.yellow--top{
    color: black;
    min-height: 50px;
    background: var(--main-yellow);
    padding: 1em;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 10px;
}

.info--container{
  width: 100%;
  display: flex;
  justify-content: center;
  
  margin: 1em 0;
  color: white;
  padding: 1em;
}

.info--header{
  display: flex;
  justify-content: space-between;
}
.info--not--loaded{
  margin: 1em 0;
}

.random--btn{
  
  padding: 0.5em 1.4em;
  font-size: 1.4rem;
  background: var(--btn-grey);
  color: var(--almost-white);
  border-radius: 10px;
  box-shadow: 0px 0px 0px transparent;
  border: 2px solid var(--btn-border);
  text-shadow: 0px 0px 0px transparent;
  transition: color 250ms ease-in-out;
}

.random--btn:hover{
  cursor: pointer;
  color: var(--main-yellow);
  
  
  
}