
.arrow--size{
  font-size: 3rem;
  color: var(--main-yellow);
  opacity: 0.6;
  transition: opacity 300ms ease-in-out;
  
}

@media only screen and (max-width: 1024px){
  .arrow--size{
    font-size: 3rem;
  }


}

.arrow--size:hover{
  opacity: 1;
}

.detailsview--pokemon--container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.arrow{
  align-self: center;
}