.pokecards{
  display: flex;
  margin-top: 1em;
  padding: 1em;
  gap: 1em;
  flex-wrap: wrap;
  justify-content:center
}

.lastpage{
  color: var(--almost-white)
}


.pokemonNavigation{
  display: flex;
  justify-content:center;
}

