


.info--box{
  margin-top: 2em;
  max-width: 100ch;
  padding: 0 1em 1em;
  
}
.info--header{
  
  
}

.info--header--name{
  padding: 0.3em 1em;
  background: var(--chart-background);
  border: 1px solid var(--main-yellow);
  border-radius: 10px;
}
.info--header--id:before{
  content: "#"
}
.info--header--id{
  margin-right: 0.5em;
}
.info--grid{
  display: grid;
  grid-template-areas: "image stats"
                       "image stats"
                       "image stats"
                       "image info"
                       "footer footer";
  gap: 1em;
}

.info--pokemon--image img{
max-width: 80%;


}
.type{
  display: inline-block;
  padding: 0.2em 1.4em;
  border-radius: 10px;
  color: #000;
  margin: 0 1em 0.5em 0; 
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.white--text{
  color: #eee;
  
}
.info--pokemon--image{
  grid-area: image;
  display: flex;
  justify-content: center;
  min-width: 395px;
  

}
.info--pokemon--info{
  padding: 1em;
  font-size: 1.3rem;
  grid-area: info;
  border-radius: 10px;
  background: var(--btn-grey);
  border: 2px solid var(--btn-border)
  
}

.info--pokemon--stats{
  grid-area: stats;
}

.info--pokemon--footer{
  grid-area: footer;
  display: flex;
  justify-content: left;
  
  
}



@media only screen and (max-width: 1024px)
{
  .type{
    margin: 0 0.5em 0.5em 0.5em; 
  }


  .info--header{
    display: flex;
    justify-content: center;
    
  }
  .info--grid{
    
    grid-template-areas: "image image"
                         "stats stats"
                         "stats stats"
                         "info info"
                         "footer footer";
  }

  .info--pokemon--image img{
    max-width: 220px;
    min-width: 150px;
    margin-left: auto;
  margin-right: auto;
  display: block;

  }

  .info--pokemon--footer{    
    justify-content: center;
    
  }
}





